.JuegosGrid {
  margin-left: 151px;       /* Sidebar */
  padding: 20px 25px;
  width: calc(100% - 151px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  background: linear-gradient(180deg, #151515, #151515, #300f4b6b);
}

.JuegosGrid__empty {
  width: 100%;
  text-align: center;
  color: #bdbdbd;
  font-size: 18px;
  margin-top: 40px;
}
