:root {
  --margin-left-sections: 0px;
  --padding-sections: 70px 40px;
  --color-text-primary: #ffffff;
}

.HomeSections {


  padding: var(--padding-sections);
  color: var(--color-text-primary);
  min-height: 100vh;
  margin-left: var(--margin-left-sections);
  background: transparent !important; 
}
