* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body, html, #root {
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a2e;
}
